<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableTextViewProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E26ADA81E05448800F55C05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E26ADC11E05448800F55C05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E26ADCC1E05448900F55C05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
